<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Font Awsome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--Materialize css framework-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">

  <!--Custom css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

  <title>Food Fiesta</title>
</head>

<body>
  <header>
    <!--Main navbar-->
    <nav class="green lighten-2">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Food Fiesta</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('categories') }}">Categories</a></li>
          <li><a href="">Profile</a></li>
          <li><a href="">Log out</a></li>
          <li><a href="">Log in</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
      </div>
    </nav>

    <!--Mobile sidenav-->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('categories') }}">Categories</a></li>
      <li><a href="">Profile</a></li>
      <li><a href="">Log out</a></li>
      <li><a href="">Log in</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
    </ul>
  </header>

  <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="row flashes">
            <h4 class="deep-orange-text text-darken-4 center-align">{{ message }}</h4>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </section>

  <main class="container">
    {% block content %}
    {% endblock %}

  </main>

  <footer class="page-footer green lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="white-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="white-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="white-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        This app is solely created for Milestone project 3 © 2022 Bogdan Iacob
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>


  <!--Materialize framework js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!--Custom js-->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>