{% extends "base.html" %}

{% block content %}

<h1 class="deep-orange-text text-darken-4 center-align">Create Recipe</h1>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('create_recipe') }}">
        <div class="card-panel grey lighten-4">

            <!--Recipe name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-tag prefix green-text text-lighten-2"></i>
                    <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="25"
                        pattern="^[a-zA-Z]{5,25}$" class="validate" required>
                    <label for="recipe_name">Recipe name</label>
                </div>
            </div>

            <!--Preparation, cooking, total time-->
            <div class="row">
                <!-- Preparation time -->
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-carrot prefix green-text text-lighten-2"></i>
                    <input id="prep_time" name="prep_time" type="number" minlength="1" maxlength="10"
                        pattern="^[0-9]{1,10}$" class="validate" required>
                    <label for="prep_time">Preparation time:</label>
                </div>

                <!-- Cooking time -->
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-fire-burner prefix green-text text-lighten-2"></i>
                    <input id="cook_time" name="cook_time" type="number" minlength="1" maxlength="10"
                        pattern="^[0-9]{1,10}$" class="validate" required>
                    <label for="cook_time">Cooking time:</label>
                </div>

                <!-- Total time -->
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-bell prefix green-text text-lighten-2"></i>
                    <input disabled id="total_time" name="total_time" type="number" value="{{ total_time }}" class="validate">
                    <label for="total_time">Total time:</label>
                </div>
            </div>

            <!-- Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-list prefix green-text text-lighten-2"></i>
                    <input type="text" id="ingredients" name="ingredients" class="validate">
                    <label for="ingredients">Ingredients:</label>
                </div>
            </div>

            <!-- Preparation -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-list-ol prefix green-text text-lighten-2"></i>
                    <input type="text" id="steps" name="steps" class="validate">
                    <label for="steps">Preparation steps:</label>
                </div>
            </div>

            <!--Submit button-->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-green darken-2 text-shadow"><i
                        class="fa-solid fa-right-to-bracket prefix white-text text-lighten-2"></i> Register</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}