{% extends "base.html" %}

{% block content %}

<h1 class="deep-orange-text text-darken-4 center-align">Edit Recipe</h1>

<div class="row">
    <form id="editRecipeForm" class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="card-panel grey lighten-4">

            <!-- Category selector -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-book-open prefix green-text text-lighten-2"></i>
                    <select id="category_id" name="category_id" class="validate" required>
                        <option value="" disabled selected></option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endfor%}
                    </select>
                    <label for="category_id">Choose Category</label>
                </div>
            </div>

            <!--Recipe name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-tag prefix green-text text-lighten-2"></i>
                    <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="25" class="validate"
                        required>
                    <label for="recipe_name">Recipe name</label>
                </div>
            </div>

            <!--Preparation, cooking, total time-->
            <!-- Servings -->
            <div class="input-field col s12 m2">
                <i class="fa-solid fa-carrot prefix green-text text-lighten-2"></i>
                <input id="servings" name="servings" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$"
                    onfocus="this.value=''" value="0" class="validate" required>
                <label for="prep_time">Servings:</label>
            </div>
            <div class="row">

                <!-- Preparation time -->
                <div class="input-field col s12 m3">
                    <i class="fa-solid fa-carrot prefix green-text text-lighten-2"></i>
                    <input id="prep_time" name="prep_time" type="number" minlength="1" maxlength="10"
                        onfocus="this.value=''" value="0" onkeyup="totalTime()" class="validate" required>
                    <label for="prep_time">Preparation time:</label>
                </div>

                <!-- Cooking time -->
                <div class="input-field col s12 m3">
                    <i class="fa-solid fa-fire-burner prefix green-text text-lighten-2"></i>
                    <input id="cook_time" name="cook_time" type="number" minlength="1" maxlength="10"
                        onfocus="this.value=''" value="0" onkeyup="totalTime()" class="validate" required>
                    <label for="cook_time">Cooking time:</label>
                </div>

                <!-- Total time -->
                <div class="input-field col s12 m3">
                    <i class="fa-solid fa-bell prefix green-text text-lighten-2"></i>
                    <input id="total_time" name="total_time" value="0" type="text" class="validate">
                    <label for="total_time">Total time:</label>
                </div>
            </div>

            <!-- Ingredients -->
            <div class="row">
                <div id="ingredientsList" class="col s12 hide"></div>
                <!-- hold json string of ingredients -->
                <input class="hide" id="ingredientsJSON" name="ingredientsJSON">
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <i class="fa-solid fa-list prefix green-text text-lighten-2"></i>
                    <input type="text" id="ingredients" name="ingredients" minlength="3" maxlength="50"
                        class="validate">
                    <label for="ingredients">Ingredients:</label>
                </div>
                <div id="addButton" class="col s2 btn light-green darken-2 text-shadow">Add</div>
            </div>

            <!-- Preparation -->
            <div class="row">
                <div id="stepsList" class="col s12 hide"></div>
                <!-- holds json string of steps -->
                <input class="hide" id="stepsJSON" name="stepsJSON">
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <i class="fa-solid fa-list-ol prefix green-text text-lighten-2"></i>
                    <textarea id="steps" name="steps" minlength="3" maxlength="300"
                        class="materialize-textarea"></textarea>
                    <label for="steps"><span id="prep_step">Preparation step 1:</span></label>
                </div>
                <div id="addStepButton" class="col s2 btn light-green darken-2 text-shadow">Add</div>
            </div>

            <!--Create button-->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-green darken-2 text-shadow"><i
                        class="fa-solid fa-edit prefix white-text text-lighten-2"></i> Edit recipe</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}